<!-- BEGIN PAGE CONTAINER-->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">     
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
           <h3 class="page-title">
                {{ 'admin.article.module' | trans }} <small> {{ 'admin.article.description' | trans }}</small>
            </h3>
           <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="icon-home"></i>
                   <a href="{{ path('admin_index') }}">Dashboard</a>
                    <i class="icon-angle-right"></i>
                </li>
                
                <li class="active">{{ 'admin.article.module' | trans }}</li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-md-4 admin-entities-list" id="admin-article-list">
           {% include 'ContenBundle:Article:list.html.twig' %}
        </div>

        <div class="col-lg-8 col-md-8 col-md-8" id="admin-entity-viewer">
           <center><p class="muted" style="margin-top: 24px;">{{ 'admin.common.select' | trans }} {{ 'admin.article.entity' | trans }}...</p></center>
        </div>
    </div>
    
