<table border="0" cellpadding="0" cellspacing="0" style="background-color:#487508; height:52px; width: 100%">
    <tr>
        <td>
            <h2 class="alt" style="color: #FFF; font-size: 20px; padding: 12px; margin: 0px;">{{ 'front.subscriber.email.title' | trans }}</h2>
        </td>
    </tr>
</table>
<div style="font-size: 12px; font-family: Arial;">
    <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 12px;"> 
        <tbody>           
            <tr><th style="text-align: right;padding-right: 15px;padding-bottom: 4px;">{{ 'front.subscriber.email.email' | trans }}</th><td>{{ entity.email }}</td></tr>
        </tbody>
    </table>
    <h5 style=" background-color: #487508; color: #FFF; padding: 12px; font-size: 12px;">{{ 'front.email.footer' | trans }} <a  style="text-decoration: none;font-size: 17px; color: #FFF;" href="{{ url("index") }}"><b>rent.cu</b></a></h5>
</div>