{% set module = "User" | lower %}

{% form_theme edit_form 'AdminBundle:Default:formTemplate.html.twig' %}
<div class="portlet box {{color_portlet}}">
    <div class="portlet-title">

        <div class="caption">
            <span class="hidden-480">{{'admin.change_passwd' | trans}}</span>
        </div>  
    </div>
    <div class="portlet-body form">           

        <form class="form-horizontal" id="form-{{ module }}-edit" action="{{ path('admin_user_update_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="form-body">  
                <input type="hidden" name="_method" value="PUT" />
                             {{ form_widget(edit_form) }}
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <a action="cancel-edit-{{ module }}" class="btn {{color_button_cancel}}" >{{ 'admin.action.cancel' | trans }}</a>
                    <a action="accept-{{ module }}" class="btn {{color_button_acept}}" >{{ 'admin.action.accept' | trans }}</a>
                </div> </div>
        </form>

    </div>
</div>
<style>
    .cke_reset{
        padding-left: 5px;
    }

</style>

<script type="text/javascript">

    $('#form-{{ module }}-edit').ajaxForm({
        dataType: 'json',
        success: function(response) {
            if (response.success) {

                $('#admin-{{ module }}-list').load('{{ path('admin_'~module~'_list') }}', function() {
                    var url = '{{ path('admin_'~module) }}' + response.id + '/show';
                    var container = $('#admin-entity-viewer');

                    App.blockUI(container, false);

                    $.post(url, {}, function(response) {
                        App.unblockUI(container);
                        container.html(response);
                        App.fixContentHeight(); // fix content height
                        App.initUniform(); // initialize uniform elements
                        $('.selected').removeClass('selected warning');
                        $('#' + response.id).addClass('selected warning');
                    });
                });
                toastr.success(response.message);
            } else {
                toastr.error(response.error.message);
            }
        }
    });

    $('a[action=cancel-edit-{{ module }}]').on('click', function() {

        $('#admin-{{ module }}-list').load('{{ path('admin_'~module~'_list') }}', function() {
            var url = '{{ path('admin_'~module) }}' + {{entity.id}} + '/show';
            //Me queda recargar limpio.jejej

            var container = $('#admin-entity-viewer');
            $.post(url, {}, function(response) {
                App.unblockUI(container);
                container.html(response);
                App.fixContentHeight(); // fix content height
                App.initUniform(); // initialize uniform elements
                $('#' + '{{entity.id}}').addClass('selected warning');
            });
        });
    });

    $('a[action=accept-{{ module }}]').on('click', function() {
        $('#form-{{ module }}-edit').submit();
    });


</script>
