{% spaceless %}
{% set module = module | lower %}
    {% form_theme form 'AdminBundle:Default:formTemplate.html.twig' %}

    <div class="portlet box {{color_portlet}}">
        <div class="portlet-title">
            <div class="caption">
                <span class="hidden-480">{{'admin.action.add' | trans}} {% if text is defined %}{{text}}{% else %}{{module}}{% endif %}</span>
            </div>     
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal form-bordered form-label-stripped" id="form-{{ module }}-new" action="{{ path('admin_'~module~'_create') }}" method="post" {{ form_enctype(form) }}>
                {% if topbtns is not defined %}
                    {% set topbtns = false %}
                {% endif %}
                {% if topbtns %}
                <div class="form-actions fluid">
                    <div class="col-md-12 text-center">
                        <a action="cancel-{{ module }}" class="btn {{color_button_cancel}} btn-cancel" ><i class="icon-list"></i> {{ 'admin.action.cancel' | trans }}</a>
                        <a action="accept-{{ module }}" class="btn {{color_button_acept}}" ><i class="icon-save"> </i> {{ 'admin.action.accept' | trans }}</a>
                    </div>
                </div>
                {% endif %}
                <div class="form-body">                
                {% block formwidget %}
                    {{ form_widget(form) }}
                {% endblock formwidget %}
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-12 text-center">
                        <a action="cancel-{{ module }}" class="btn {{color_button_cancel}} btn-cancel" ><i class="icon-list"></i> {{ 'admin.action.cancel' | trans }}</a>
                        <a action="accept-{{ module }}" class="btn {{color_button_acept}}" ><i class="icon-save"> </i> {{ 'admin.action.accept' | trans }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <style>
        .cke_reset{
            padding-left: 5px;
        }
        
        .btn-cancel {
            margin-right: 20px;
        }
    </style>

    <script type="text/javascript">



        $('#form-{{ module }}-new').ajaxForm({
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    $('#table-{{ module }}s').dataTable().fnDraw(false);
                    var url = '{{ path('admin_'~module) }}' + response.id + '/show';
                    var container = $('#admin-entity-viewer');

                    App.blockUI(container, false);
                    $.post(url, {}, function(response) {
                        App.unblockUI(container);
                        container.html(response);
                        App.fixContentHeight(); // fix content height
                        App.initUniform(); // initialize uniform elements
                        $('.selected').removeClass('selected warning');
                        $('#' + response.id).addClass('selected warning');
                    });

                    toastr["success"](response.message, '{{ 'admin.action.succesfully' | trans }}');
                } else {
                    toastr["error"](response.error.message, '{{ 'admin.action.error' | trans }}');
                }
            }
        });
        $('a[action=cancel-{{ module }}]').on('click', function() {
                var url = '{{ path('admin_'~module) }}' + 0 + '/show';
                //Me queda recargar limpio.jejej
                var container = $('#admin-entity-viewer');

                var html = "<center><p class=\"muted\" style=\"margin-top: 24px;\">{{ 'admin.common.select' | trans }} {% if text is defined %}{{text}}{% else %}{{module}}{% endif %}...</p></center>";

                container.children().remove();
                container.html(html);
        });


        $('a[action=accept-{{ module }}]').on('click', function() {
            $('#form-{{ module }}-new').submit();
        });

    </script>

    <script type="text/javascript">
        {#if ($('.editor').length>0) {
            $('.editor').summernote({
                height: 200, // set editor height
                focus: true,
            });
        }#}
        
        if ($('select.select2').length>0) {
            jQuery(document).ready(function() {
                 $('select.select2').select2();
            });
        }
        
        if ($('input.datepicker').length>0) {
            jQuery(document).ready(function() {
                $('input.datepicker').datepicker({
                    rtl: App.isRTL(),
                    autoclose: true
                });
                $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            });
        }
    </script>
{% endspaceless %}