{% spaceless %}
{% set module = module | lower %}

{% form_theme edit_form 'AdminBundle:Default:formTemplate.html.twig' %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3 class="muted">{{'admin.action.edit' | trans}} {% if text is defined %}{{text}}{% else %}{{module}}{% endif %} </h3>
        </div>


        <div class="modal-body">          
            <div class="scroller"   data-always-visible="1" data-rail-visible1="1">
                <form class="form-horizontal" id="form-{{ module }}-edit" action="{{ path('admin_'~module~'_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                    <input type="hidden" name="_method" value="PUT" />
                             {{ form_widget(edit_form) }}

                </form>
            </div> 

        </div> 

        <div class="modal-footer">
            <button class="btn {{color_button_cancel}}" data-dismiss="modal" aria-hidden="true"><i class="icon-list"> </i> {{ 'admin.action.cancel' | trans }}</button>
            <a action="accept-{{ module }}" class="btn {{color_button_acept}}" ><i class="icon-save"> </i> {{ 'admin.action.accept' | trans }}</a>
        </div>
    </div>
</div>
<style>
    .cke_reset{
        padding-left: 5px;
    }

</style>

<script type="text/javascript">




    $('#form-{{ module }}-edit').ajaxForm({
        dataType: 'json',
        success: function(response) {
            if (response.success) {
                $('#{{ module }}-modal').modal('hide');
                $('#table-{{ module }}s').dataTable().fnDraw(false);
                toastr['success'](response.message, '{{ 'admin.message.succesfully' | trans }}');
            } else {
                toastr['error'](response.error.message, '{{ 'admin.message.error' | trans }}');
            }
        }
    });

    $('a[action=cancel-edit-{{ module }}]').on('click', function() {

        $('#admin-{{ module }}-list').load('{{ path('admin_'~module~'_list') }}', function() {
            var url = '{{ path('admin_'~module) }}' + {{entity.id}} + '/show';
            //Me queda recargar limpio.jejej

            var container = $('#admin-entity-viewer');
            $.post(url, {}, function(response) {
                App.unblockUI(container);
                container.html(response);
                App.fixContentHeight(); // fix content height
                App.initUniform(); // initialize uniform elements
                $('#' + '{{entity.id}}').addClass('selected warning');
            });
        });
    });


    $('a[action=accept-{{ module }}]').on('click', function() {

        $('#form-{{ module }}-edit').submit();
    });

</script>
<script type="text/javascript">
    {#if ($('.editor').length>0) {
        $('.editor').summernote({
            height: 200, // set editor height
            focus: true,
        });
    }#}

    if ($('select.select2').length>0) {
        jQuery(document).ready(function() {
             $('select.select2').select2();
        });
    }
        
    if ($('input.datepicker').length>0) {
        jQuery(document).ready(function() {
            $('input.datepicker').datepicker({
                rtl: App.isRTL(),
                autoclose: true
            });
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        });
    }
</script>
{% endspaceless %}