{% spaceless %}
    <div class="portlet box {{color_portlet}}">
    <div class="portlet-title">
        
        <div class="actions">
            <div class="btn-group">
                <a class="btn {{color_button_edit}}" action="ajax-modal" href="{{ path('admin_promotop_edit', {'id': entity.id}) }}" data-toggle="tooltip" title="{{ 'admin.action.edit' | trans }}"><i class="icon-edit"></i> {{ 'admin.action.edit' | trans }}</a>
                <a class="btn {{color_button_delete}}" action="promotop-delete" data-toggle="tooltip" title="{{ 'admin.action.delete' | trans }}"><i class="icon-trash"></i> {{ 'admin.action.delete' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    {% if entity.webPath %}
                        {% set img_src = entity.webPath %}
                    {% else %}
                        {% set img_src = 'bundles/admin/images/noimage.jpg' %}
                    {% endif %}
                        <th colspan="2" class="text-center"><img class="img-thumbnail img-responsive" src="{{ asset(img_src) }}" alt="{{ entity.name }}" title="{{ entity.name }}" /></th>
                </tr>
                <tr><th>{{'admin.promo.name' | trans}}</th><td>{{ entity.name }}</td></tr>        
                {% if entity.homestay %}<tr><th>{{'admin.promo.homestay' | trans}}</th><td>{{ entity.homestay }}</td></tr>{% endif %}
                {% if entity.url %}<tr><th>{{'admin.promo.url' | trans}}</th><td>{{ entity.url }}</td></tr>{% endif %}
                <tr><th>{{'admin.promo.fromdate' | trans}}</th><td>{{ entity.fromdate | date('d/m/Y') }}</td></tr>        
                <tr><th>{{'admin.promo.todate' | trans}}</th><td>{{ entity.todate | date('d/m/Y') }}</td></tr>        
            </table>
        </div>        
    </div>
</div>

<script type="text/javascript">
    $('#admin-entity-viewer a[action=ajax-modal]').on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var container = $('#admin-entity-viewer');
        App.blockUI(container, false);
        $.post(url, {}, function(response) {
            //App.unblockUI(container);
            container.html(response);
            // App.fixContentHeight(); // fix content height
            // App.initUniform(); // initialize uniform elements
            //$('.selected').removeClass('selected warning');
            //myself.addClass('selected warning');
        });
    });
    $('a[action=promotop-delete]').on('click', function() {
        if (confirm('{{ 'promo.delete' | trans }}{{ entity }}')) {
            $.ajax({
                type: 'delete',
                dataType: 'json',
                url: '{{ path('admin_promotop_delete', {'id': entity.id}) }}',
                success: function(response) {
                    if (response.success) {
                        $('#table-promotops').dataTable().fnDraw(false);
                        $('#admin-entity-viewer').html('<center><p class="muted" style="margin-top: 24px;">{{ 'admin.common.select' | trans }} {{ 'admin.promotop.entity' | trans }}... </p></center > ');
                        toastr['success'](response.message, "admin.message.succesfully");
                    } else {
                        toastr['error'](response.error.message, "admin.message.error");
                    }
                }
            });
        }
    });
</script>
{% endspaceless %}