<form id="applicantform" action="{{ path('addapplicant') }}" method="post" {{ form_enctype(form) }}>
    <div class="form-group">
        {{ form_row(form.name, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.name'} }) }}
{#        {{ form_widget(form.name, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.name'} }) }}#}
    </div>
    <div class="form-group">
        {{ form_row(form.email, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.email'} }) }}
{#        {{ form_widget(form.email, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.email'} }) }}#}
    </div>
    <div class="form-group">
        {{ form_row(form.message, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.message'} }) }}
{#        {{ form_widget(form.message, {'attr' : {'class': 'form-control', 'placeholder' : 'front.applicant.form.message'} }) }}#}
    </div>
    
    {{ form_rest(form) }}
    
    <div class="form-actions">
        <button class="btn blueimg" type="submit">{{ 'front.applicant.form.submit' | trans }}</button>
    </div>
</form>
<span class="msg">{{ msg['error'] | trans }}</span>
<span class="msg success">{{ msg['success'] | trans }}</span>