{% spaceless %}
    <div class="portlet box {{color_portlet}}">
    <div class="portlet-title">
        
        <div class="actions">
            <div class="btn-group">
                <a class="btn {{color_button_edit}}" action="ajax-modal" href="{{ path('admin_municipality_edit', {'id': entity.id}) }}" data-toggle="tooltip" title="{{ 'admin.action.edit' | trans }}"><i class="icon-edit"></i> {{ 'admin.action.edit' | trans }}</a>
                <a class="btn {{color_button_delete}}" action="municipality-delete" data-toggle="tooltip" title="{{ 'admin.action.delete' | trans }}"><i class="icon-trash"></i> {{ 'admin.action.delete' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <div class="container">
                <div class="col-md-9">
                    <table class="table table-hover">           
                        <tr><th>{{'admin.municipality.name' | trans}}</th><td>{{ entity.name }}</td></tr>
                        <tr><th>{{'admin.municipality.province' | trans}}</th><td>{{ entity.province }}</td></tr>        
                    </table>
                </div>
            </div>    
        </div>        
    </div>
</div>

<script type="text/javascript">
    $('#admin-entity-viewer a[action=ajax-modal]').on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var container = $('#admin-entity-viewer');
        App.blockUI(container, false);
        $.post(url, {}, function(response) {
            //App.unblockUI(container);
            container.html(response);
            // App.fixContentHeight(); // fix content height
            // App.initUniform(); // initialize uniform elements
            //$('.selected').removeClass('selected warning');
            //myself.addClass('selected warning');
        });
    });
    $('a[action=municipality-delete]').on('click', function() {
        if (confirm('{{ 'municipality.delete' | trans }}{{ entity }}')) {
            $.ajax({
                type: 'delete',
                dataType: 'json',
                url: '{{ path('admin_municipality_delete', {'id': entity.id}) }}',
                success: function(response) {
                    if (response.success) {
                        $('#table-municipalitys').dataTable().fnDraw(false);
                        $('#admin-entity-viewer').html('<center><p class="muted" style="margin-top: 24px;">{{ 'admin.common.select' | trans }} {{ 'admin.municipality.entity' | trans }}... </p></center > ');
                        toastr['success'](response.message, "admin.message.succesfully");
                    } else {
                        toastr['error'](response.error.message, "admin.message.error");
                    }
                }
            });
        }
    });
</script>
{% endspaceless %}